
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UnAuthorized</title>
</head>
<body>
    <h3 style="color:red;">You are unauthorized to access the admin dashboard.</h3>
    <p>Click <a href="/">here</a> to go to the home page.</p>
</body>
</html>
